/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "Roboto-Light-italic";
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"),
    url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/KaushanScript-Regular.woff2") format("woff2"),
    url("../fonts/KaushanScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

form {
  height: inherit;
}

iframe {
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header {
  margin: 0 auto;
}

.baner {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../img/Layer15.png) no-repeat;
  background: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/Layer15.png) no-repeat;
  background: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/Layer15.png) no-repeat;
  background-position: center;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .baner {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(252, 227, 138, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url(../img/Layer15@2x.png) no-repeat center;
    background: -o-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../img/Layer15@2x.png) no-repeat center;
    background: linear-gradient(
        0deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../img/Layer15@2x.png) no-repeat center;
    background-size: cover;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 165px;
}

.navigation__logo {
  color: #fff;
  font-size: 30px;
  font-family: "Montserrat-Bold";
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
  -webkit-animation: logo-appear 1s linear;
  animation: logo-appear 1s linear;
  text-decoration: none;
}

@-webkit-keyframes logo-appear {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes logo-appear {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.navigation__logo:hover {
  color: rgb(252, 227, 138);
}

.menu__item {
  list-style: none;
  position: relative;
}

.menu {
  min-width: 621px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.menu__item-linc {
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
  text-decoration: none;
}

.menu__item--after::after {
  display: block;
  content: "";
  width: 50px;
  height: 3px;
  background-color: rgb(252, 227, 138);
  position: absolute;
  bottom: -12px;
  opacity: 0;
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.menu__item:hover.menu__item--after::after {
  opacity: 1;
}

.menu__item--after-service::after {
  width: 62px;
}

.menu__item--after-blog::after {
  width: 43px;
}

.menu__item--after-contact::after {
  width: 67px;
}

.menu__item--after-coshuk::after {
  width: 20px;
}

.menu__item--after-poshuk::after {
  width: 20px;
}

.menu__item-svg {
  fill: #fff;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

.menu__item-svg:hover {
  fill: rgb(252, 227, 138);
}

.menu__item-linc:hover,
.menu__item-linc:focus {
  color: rgb(252, 227, 138);
}

.slogan {
  text-align: center;
  font-size: 72px;
  font-family: "Kaushan Script";
  color: #fff;
  padding: 0 0 38px 0;
}

.title {
  margin: 0;
  font-size: 150px;
  text-align: center;
  text-transform: uppercase;

  padding: 0px 273px 110px;
  color: #fff;
  font-family: "Montserrat-Bold";
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn__button {
  font-family: "Montserrat-Bold";
  background: none;
  border: 3px solid rgb(255, 255, 255);
  width: 164px;
  height: 44px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 205px;
  cursor: pointer;
}

/* SECTION AMAZING */

.services {
  padding: 0 0 100px;
}

.services__text {
  text-align: center;
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  padding: 40px 0px 20px;
}

.services__title {
  text-align: center;
  font-size: 30px;
  color: rgb(51, 51, 51);
  font-family: "Montserrat-Bold";
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 110px;
}

.services__title::after {
  position: relative;
  top: 40px;
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.list-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.list-services__item-title {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 21px;
}

.list-services__item-text {
  font-family: "Roboto-Regular";
  font-size: 15px;

  color: rgb(153, 153, 153);
  line-height: 1.6;
}

.list-services__item {
  position: relative;
  width: 392px;
  margin-bottom: 102px;
  padding-left: 90px;
}

.list-services__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.list-services__item::before {
  display: block;
  content: "";
  width: 89px;
  height: 89px;

  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  top: -24px;
}

.list-services__item--clock::before {
  background-image: url(../img/ALARM.svg);
}

.list-services__item--web::before {
  background-image: url(../img/LINEGRAPH.svg);
}

.list-services__item--creativity::before {
  background-image: url(../img/COMPUTEROK.svg);
}

.list-services__item--seo::before {
  background-image: url(../img/BOOK2.svg);
}

.list-services__item--css::before {
  background-image: url(../img/HOME.svg);
}

.list-services__item--digital::before {
  background-image: url(../img/IMAGE.svg);
}

.web::before {
  display: block;
  content: "";
  width: 89px;
  height: 89px;
  background-image: url(../img/LINEGRAPH.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  top: -24px;
}

/* SECTION THEAM */

.theam {
  padding: 0 0 82px;
}

.theam-text {
  text-align: center;
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  padding-bottom: 20px;
}

.theam-title {
  text-align: center;
  font-size: 30px;
  color: rgb(51, 51, 51);
  font-family: "Montserrat-Bold";
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 110px;
}

.theam-title--after::after {
  position: relative;
  top: 40px;
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.theam-info {
  margin: 0 auto;
  width: 950px;
  font-family: "Roboto-Regular";
  font-size: 15px;
  text-align: center;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  margin-bottom: 94px;
}

.theam-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  position: relative;
}

.theam-list__item-name {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 16px;
}

.theam-list__item-position {
  font-size: 15px;
  font-family: "Roboto-Light-italic";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

.socials {
  list-style: none;
}

.socials a {
  text-decoration: none;
}

.theam-list__item {
  position: relative;
}

.theam-list__item-img {
  position: relative;
  z-index: 1;
}

.theam-list__item-box {
  background-color: rgb(149, 225, 211);
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;
  z-index: 0;
}

.theam-list__item-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;

  background-image: -webkit-linear-gradient(
    90deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );

  z-index: 2;
  opacity: 0;
}

.socials {
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.theam-list__item:hover .theam-list__item-img {
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.theam-list__item-gradient {
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.theam-list__item:hover .theam-list__item-gradient {
  opacity: 0.8;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.theam-list__item:hover .socials {
  opacity: 1;
}

.theam-box:hover {
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 42%;
  left: 50%;
  z-index: 3;
  opacity: 0;
}

.socials__item-svg {
  display: block;
  fill: rgb(243, 129, 129);
}

.socials__item:hover .socials__item-svg {
  fill: #fff;
}

.socials__item-linc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 56px;
  height: 56px;
  margin-right: 1px;

  background-color: rgb(252, 227, 138);
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.socials__item-linc:hover {
  background: #f38181;
}

/* FOOTER */

.footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgb(229, 229, 229);
}

.footer-text {
  position: relative;
  left: 24px;

  font-size: 14px;
  font-family: "Montserrat-Regular";
}

.footer-linc {
  color: #f6a6a6;
  text-decoration: none;
}

.input {
  position: relative;
  left: 260px;
  border: 1px solid rgb(229, 229, 229);
  width: 230px;
  height: 40px;
  outline: none;
}

.button {
  font-family: "Montserrat-Bold";
  color: #fff;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #95e1d3;
  cursor: pointer;
}
